.form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}
.create__form {
    max-width: 70%;
    display: flex;
    flex-direction: column;
}
 






